@font-face {
	font-family: "Lato";
	src: url(./fonts/Lato-Regular.woff2);
	font-display: swap;
}

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body {
	scroll-behavior: smooth;
}

img {
	display: block;
	max-width: 100%;
}

* {
	border: 0;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

.hidden {
	display: none;
}

button {
	cursor: pointer;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
}

.header_page_one {
	background: #222222;
}

.header_left {
	display: flex;
	margin-bottom: 18px;
	margin-top: 18px;
	gap: 41px;
	align-items: center;
}

.headers_button {
	background: #222222;
	color: #e8e8e8;
}

.trashFive {
	position: relative;
}

.trashFive::after {
	content: "5";
	position: absolute;
	top: -6px;
	right: -6px;
	background-color: #f16d7f;
	padding: 2px 4px 2px 4px;
	border-radius: 100%;
}

.header_right {
	display: flex;
	gap: 33px;
	align-items: center;
}

.nav_header {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}

.page_one_middle {
	background: #f1e4e6;
	margin-bottom: 65px;
}

.page_one_middle_div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.div_h2_brand_fashion {
	padding-left: 16px;
	border-left: 12px solid #f16d7f;
}

.h2_the_brand {
	font-family: "Lato";
	font-style: normal;
	font-weight: 900;
	font-size: 48px;
}

.luxerious_fashion_div {
	display: flex;
}

.luxerious_h2 {
	font-family: "Lato";
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	color: #222222;
}

.fashion_h2 {
	font-family: "Lato";
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 38px;
	color: #f16d7f;
}

.page_two_header_nav {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 30px;
}

.div_button_page_two {
	display: flex;
	align-items: center;
	justify-content: center;
}

.page_two_button_one {
	background-image: linear-gradient(
			rgba(33, 22, 22, 0.7),
			rgba(33, 22, 22, 0.7)
		),
		url(./img/forWomenImg.svg);
	background-size: cover;
	padding: 105px 103px;
	min-width: 360px;
}

.page_two_button_two {
	background-image: linear-gradient(
			rgba(33, 22, 22, 0.7),
			rgba(33, 22, 22, 0.7)
		),
		url(./img/forMenImg.svg);
	background-size: cover;
	padding: 105px 103px;
	min-width: 360px;
}

.page_two_button_three {
	background-image: linear-gradient(
			rgba(33, 22, 22, 0.7),
			rgba(33, 22, 22, 0.7)
		),
		url(./img/forKidsImg.svg);
	background-size: cover;
	padding: 105px 103px;
	min-width: 360px;
}

.div_button_page_two_accesories {
	grid-column: span 3;
	max-height: 180px;
}

.page_two_button_four {
	background-image: linear-gradient(
			rgba(33, 22, 22, 0.7),
			rgba(33, 22, 22, 0.7)
		),
		url(./img/accesoriesPageTwoImg.webp);
	background-size: cover;
	padding: 66px 490px;
	min-width: 1140px;
}

.h2_page_two_button_up {
	font-family: "Lato";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #ffffff;
}

.h2_page_two_button_down {
	font-family: "Lato";
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
	color: #f16d7f;
}

.page_three {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.page_three_header {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 6px;
	margin-bottom: 48px;
}

.h2_page_three_fetured {
	font-family: "Lato";
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 36px;
	color: #222222;
}

.h2_page_three_shop {
	font-family: "Lato";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #9f9f9f;
}

.page_three_catalog {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 30px;
}

.page_three_catalog_pos_one {
	text-align: left;
	background: #f8f8f8;
	z-index: 1;
	position: relative;
}

.page_three__catalog__div-button-activate {
	position: absolute;
	z-index: 5;
	background: linear-gradient(rgba(58, 56, 56, 0.86), rgba(58, 56, 56, 0.86));
	opacity: 0;
}

.page_three__catalog__div-button-activate:hover {
	opacity: 1;
}

.page_three__catalog__button-activate__addToCart {
	margin: 185px 110px;
	padding: 13px 16px;
	display: flex;
	align-items: center;
	gap: 11px;
	color: white;
	border: 1px solid white;
	background-color: transparent;
}

.page_three__catalog__button-activate__h3 {
	font-family: "Lato";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	min-width: 72px;
}

.h2_page_three_ellety_caps {
	font-family: "Lato";
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
	color: #000000;
	margin-top: 24px;
	margin-bottom: 16px;
	margin-left: 16px;
}

.h2_page_three_known {
	font-family: "Lato";
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 17px;
	color: #5d5d5d;
	margin-bottom: 16px;
	margin-left: 16px;
}

.h2_page_three_price {
	font-family: "Lato";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #f16d7f;
	margin-bottom: 24px;
	margin-left: 16px;
}

.div_btn_page_three_browse {
	display: flex;
	align-items: center;
	justify-content: center;
}

.browse_all_products {
	margin-top: 48px;
	margin-bottom: 90px;
	min-width: 212px;
	background: none;
	border: 1px solid #f26376;
	font-family: "Lato";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #f26376;
	padding: 15px 39px;
}

.browse_all_products:hover {
	background: #f26376;
	color: white;
}

.page-four__header-background {
	background: #000000;
}

.page-four__header {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.page-four__header__free {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 103px;
	margin-bottom: 103px;
}

.page-four__header__free__h2 {
	font-family: "Lato";
	font-style: normal;
	font-weight: 400;
	font-size: 19.96px;
	line-height: 24px;
	color: #fbfbfb;
	margin-top: 28px;
	margin-bottom: 16px;
}

.page-four__header__free__h3 {
	font-family: "Lato";
	font-style: normal;
	font-weight: 300;
	font-size: 13.972px;
	line-height: 17px;
	text-align: center;
	color: #fbfbfb;
	min-width: 320px;
}

.page-four__header__free__h2-two {
	font-family: "Lato";
	font-style: normal;
	font-weight: 400;
	font-size: 19.96px;
	line-height: 24px;
	color: #fbfbfb;
	margin-top: 19px;
	margin-bottom: 16px;
}

.page-four__header__free__h3-two {
	font-family: "Lato";
	font-style: normal;
	font-weight: 300;
	font-size: 13.972px;
	line-height: 17px;
	text-align: center;
	color: #fbfbfb;
	min-width: 320px;
}

.page-four__middle {
	background-image: linear-gradient(
			rgba(244, 244, 244, 0.7),
			rgba(244, 244, 244, 0.7)
		),
		url(./img/pageFourMiddleBackground.webp);
	background-size: 100% 100%;
}

.page-four__middle__container {
	display: flex;
	justify-content: space-between;
}

.page-four__middle__div-women {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: nowrap;
}

.page-four__middle__div-women__img {
	padding-top: 97px;
	max-height: 96px;
	padding-bottom: 30px;
}

.page-four__middle__div-women__h2 {
	font-family: "Lato";
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	color: #222224;
	max-width: 360px;
	margin-bottom: 126px;
}

.page-four__middle__div-form {
	display: flex;
	flex-direction: column;
	padding-top: 135px;
}
.page-four__middle__div-form__form-div {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: center;
}

.page-four__middle__div-form__h2-subscribe {
	font-family: "Lato";
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 167.2%;
	text-align: center;
	color: #222224;
}

.page-four__middle__div-form__h2-forOur {
	font-family: "Lato";
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 167%;
	text-align: center;
	color: #222224;
	padding-bottom: 32px;
}

.page-four__middle__div-form__form-div__form__input {
	border-radius: 1.5rem 0 0 1.5rem;
	padding: 15px 64px 15px 22px;
	background: #e1e1e1;
	outline: none;
}

.page-four__middle__div-form__form-div__button {
	font-family: "Lato";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #ffffff;
	background-color: #e05c6e;
	padding: 14px;
	border-radius: 0 1.5rem 1.5rem 0;
}

.footer {
	background-color: #222224;
}

.footer__div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.footer__div__rights-div__h4 {
	font-family: "Lato";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #fbfbfb;
	margin-top: 30px;
	margin-bottom: 30px;
}

.footer__div__aside-social {
	display: flex;
	flex-direction: row;
	gap: 7px;
}

.footer__div__aside-social__button__img-facebook {
	display: block;
	padding: 9px 12px;
	max-width: 32px;
	border-radius: 0;
	fill: black;
}

.footer__div__aside-social__button__img-facebook:hover {
	background: #f16d7f;
	fill: white;
}

.footer__div__aside-social__button__img-instagramm {
	display: block;
	padding: 9px 8px;
	max-width: 32px;
	border-radius: 0;
	fill: black;
}

.footer__div__aside-social__button__img-instagramm:hover {
	background: #f16d7f;
	fill: white;
}

.footer__div__aside-social__button__img-p {
	display: block;
	padding: 8.5px 10px;
	max-width: 32px;
	border-radius: 0;
	fill: black;
}

.footer__div__aside-social__button__img-p:hover {
	background: #f16d7f;
	fill: white;
}

.footer__div__aside-social__button__img-twitter {
	display: block;
	padding: 9.5px 7.8px;
	max-width: 32px;
	border-radius: 0;
	fill: black;
}

.footer__div__aside-social__button__img-twitter:hover {
	background: #f16d7f;
	fill: white;
}

@media (max-width: 768px) {
	.container {
		max-width: 736px;
		margin: 0 auto;
	}

	.header_left {
		margin-left: 32px;
	}

	.header_right {
		margin-right: 32px;
	}
	.page_one_middle_div {
		gap: 127px;
	}

	.img_man {
		max-width: 194px;
		margin-left: 72px;
	}
	.h2_the_brand {
		font-size: 44px;
		line-height: 53px;
	}

	.luxerious_h2,
	.fashion_h2 {
		font-size: 24px;
		line-height: 29px;
	}

	.page_two_header_nav {
		gap: 19px;
	}

	.div_button_page_two {
		min-width: 232px;
	}

	.page_two_button_one,
	.page_two_button_two,
	.page_two_button_three {
		min-width: 232px;
		padding: 59px 39px;
	}

	.div_button_page_two_accesories {
		min-height: 116px;
	}

	.page_two_button_four {
		min-width: 736px;
		padding: 33px 287px;
	}

	.page_three_header {
		gap: 3px;
	}

	.page_three_catalog {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		gap: 16px;
	}

	.page-four__header {
		flex-direction: column;
	}
	.page-four__header__free {
		margin-top: 48px;
		margin-bottom: 48px;
	}

	.page-four__header__free__h3,
	.page-four__header__free__h3-two {
		max-width: 360px;
	}

	.page-four__middle__container {
		flex-direction: column;
	}

	.page-four__middle__div-women__img {
		padding-top: 64px;
		padding-bottom: 30px;
	}

	.page-four__middle__div-women__h2 {
		margin-bottom: 64px;
	}
	.page-four__middle__div-form {
		padding-top: 0;
	}

	.page-four__middle__div-form__h2-forOur {
		padding-bottom: 27px;
	}

	.page-four__middle__div-form__form-div {
		padding-bottom: 140px;
	}

	@media (max-width: 375px) {
		.container {
			max-width: 343px;
		}

		.hidden_mobile {
			display: none;
		}

		.header_left {
			margin-left: 0;
			max-width: 111px;
		}

		.header_right {
			margin-right: 0;
		}

		.page_one_middle_div {
			padding: 148px 56px;
		}

		.h2_the_brand {
			font-size: 38px;
			line-height: 46px;
		}

		.luxerious_h2,
		.fashion_h2 {
			font-size: 20px;
			line-height: 24px;
		}

		.page_two_header_nav {
			display: flex;
			flex-direction: column;
		}

		.div_button_page_two {
			min-width: 343px;
		}

		.page_two_button_one,
		.page_two_button_two,
		.page_two_button_three {
			min-width: 343px;
			padding: 98px 95px;
		}

		.div_button_page_two_accesories {
			min-height: 111px;
		}

		.page_two_button_four {
			min-width: 343px;
			padding: 30px 91px;
			background-size: cover;
			background-position: center;
		}

		.page_three_header {
			margin-top: 64px;
			margin-bottom: 64px;
		}

		.page_three_catalog {
			display: flex;
			flex-direction: column;
		}

		.browse_all_products {
			margin-top: 40px;
		}
		.page-four__header__free {
			margin-top: 46px;
			margin-bottom: 46px;
		}

		.page-four__header__free__h3,
		.page-four__header__free__h3-two {
			max-width: 320px;
		}

		.page-four__middle {
			background-size: cover;
		}

		.footer__div {
			flex-direction: column-reverse;
		}
		.footer__div__aside-social {
			padding-top: 40px;
		}
		.footer__div__rights-div__h4 {
			margin-top: 40px;
			margin-bottom: 9px;
		}
	}
}
