@mixin centerflex{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin fontMixin{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
}

@mixin socialNetworksHover{
    background: #f16d7f;
	fill: white;
}