@font-face {
  font-family: "Lato";
  src: url(./fonts/Lato-Regular.woff2);
  font-display: swap;
}
body {
  scroll-behavior: smooth;
  background: white;
}

img {
  display: block;
  max-width: 100%;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

summary {
  list-style-type: none; /* Firefox */
}

summary::-webkit-details-marker {
  display: none; /* Chrome */
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.header_page_one {
  background: #222222;
}

.header_left {
  display: flex;
  margin-bottom: 18px;
  margin-top: 18px;
  gap: 41px;
  align-items: center;
}

.headers_button {
  background: #222222;
  color: #e8e8e8;
}

.trashFive {
  position: relative;
}

.trashFive::after {
  content: "5";
  position: absolute;
  top: -6px;
  right: -6px;
  background-color: #EF5B70;
  padding: 2px 4px 2px 4px;
  border-radius: 100%;
}

.header_right {
  display: flex;
  gap: 33px;
  align-items: center;
}

.nav_header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.menu-active {
  position: absolute;
  right: 0;
}

.menu-active_all {
  background: white;
  min-width: 232px;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.menu-close {
  max-width: 25px;
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  background: white;
}

.menu-heading {
  padding-top: 32px;
  padding-left: 32px;
  margin-bottom: 24px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.menu-man,
.menu-woman,
.menu-kids {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #EF5B70;
}

.menu-man {
  margin-left: 32px;
  margin-bottom: 20px;
}

.menu-woman {
  margin-left: 32px;
  margin-bottom: 20px;
}

.menu-kids {
  margin-left: 32px;
  padding-bottom: 32px;
}

.menu-text {
  margin-bottom: 12px;
}

.menu-list {
  display: flex;
  gap: 11px;
  margin-left: 22px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  flex-direction: column;
}

.page-one__header-background {
  background: #F8F3F4;
}
.page-one__header-div {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
.page-one__header-h2 {
  padding-top: 60px;
  padding-bottom: 60px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
}
.page-one__header-nav__a, .page-one__header-nav__a-cur-page {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}
.page-one__header-nav__a-cur-page {
  color: #EF5B70;
}

.page-three {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.page-three__div-filter {
  padding-top: 55px;
  padding-bottom: 55px;
  position: relative;
}
.page-three__filter {
  position: absolute;
  z-index: 1;
  min-width: 360px;
  background: #ffffff;
}
.page-three__filter__summ {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  gap: 11px;
}
.page-three__filter__summ__h2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.page-three__filter__div {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  padding-top: 16px;
  max-width: 327px;
}
.page-three__filter__c-b-d__summ__h2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  padding-top: 10px;
  padding-bottom: 11px;
  padding-left: 16px;
  border-left: 5px solid #EF5B70;
  border-bottom: 1px solid #EBEBEB;
  margin-bottom: 24px;
}
.page-three__filter__c-b-d__div {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 24px;
}
.page-three__filter__c-b-d__div__a {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  padding-left: 16px;
}
.page-three__filter[open] {
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding-top: 13px;
  padding-left: 16px;
}
.page-three__filter[open] .page-three__filter__summ__h2 {
  color: #EF5B70;
}
.page-three__filter[open] .page-three__filter__summ__img {
  fill: #EF5B70;
}
.page-three__specifications {
  margin-left: 390px;
  position: relative;
}
.page-three__specifications__trending, .page-three__specifications__size, .page-three__specifications__price {
  position: absolute;
  background: #ffffff;
}
.page-three__specifications__trending__summ, .page-three__specifications__size__summ, .page-three__specifications__price__summ {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
}
.page-three__specifications__trending__summ__h2, .page-three__specifications__size__summ__h2, .page-three__specifications__price__summ__h2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}
.page-three__specifications__trending__div, .page-three__specifications__size__div, .page-three__specifications__price__div {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: 9px;
  margin-top: 9px;
  margin-left: 9px;
  margin-bottom: 9px;
}
.page-three__specifications__trending__div__h2, .page-three__specifications__size__div__h2, .page-three__specifications__price__div__h2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
}
.page-three__specifications__trending {
  min-width: 132px;
  z-index: 5;
}
.page-three__specifications__size {
  min-width: 70px;
  margin-left: 160px;
  z-index: 4;
}
.page-three__specifications__price {
  margin-left: 240px;
  z-index: 3;
}
.page-three__specifications__trending[open] {
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding-top: 5px;
  padding-left: 5px;
}
.page-three__specifications__size[open] {
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding-top: 5px;
  padding-left: 5px;
}
.page-three__specifications__price[open] {
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding-top: 5px;
  padding-left: 5px;
}
.page-three__catalog {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 30px;
  margin-bottom: 48px;
}
.page-three__catalog__pos-one {
  background: #F8F8F8;
}
.page-three__catalog__pos-one__div-button-activate {
  position: absolute;
  background: linear-gradient(rgba(58, 56, 56, 0.86), rgba(58, 56, 56, 0.86));
  opacity: 0;
}
.page-three__catalog__pos-one__div-button-activate__addToCart {
  margin: 185px 108.5px;
  padding: 13px 16px;
  display: flex;
  align-items: center;
  gap: 11px;
  color: white;
  border: 1px solid white;
  background-color: transparent;
}
.page-three__catalog__pos-one__div-button-activate__addToCart__h3 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  min-width: 72px;
}
.page-three__catalog__pos-one__div-button-activate:hover {
  opacity: 1;
}
.page-three__catalog__pos-one__h2-ellety-caps {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin-top: 24px;
  margin-bottom: 16px;
  margin-left: 16px;
}
.page-three__catalog__pos-one__h2-known {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
  margin-bottom: 16px;
  margin-left: 16px;
}
.page-three__catalog__pos-one__h2-price {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #EF5B70;
  margin-bottom: 24px;
  margin-left: 16px;
}
.page-three__pagination {
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 109px;
}
.page-three__pagination__border {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #EBEBEB;
  padding: 16px;
  gap: 18px;
  border-radius: 5px;
}
.page-three__pagination__a {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #C4C4C4;
}
.page-three__pagination__a.active {
  color: #EF5B70;
}

.page-four__header-background {
  background: #000000;
}
.page-four__header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 30px;
}
.page-four__header__free {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 103px;
  margin-bottom: 103px;
}
.page-four__header__free__h2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
  color: #fbfbfb;
  margin-top: 28px;
  margin-bottom: 16px;
}
.page-four__header__free__h3 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #fbfbfb;
  min-width: 320px;
}
.page-four__header__free__h2-two {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
  color: #fbfbfb;
  margin-top: 19px;
  margin-bottom: 16px;
}
.page-four__header__free__h3-two {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #fbfbfb;
  min-width: 320px;
}
.page-four__middle {
  background-image: linear-gradient(rgba(244, 244, 244, 0.7), rgba(244, 244, 244, 0.7)), url(./img/pageFourMiddleBackground.webp);
  background-size: 100% 100%;
}
.page-four__middle__container {
  display: flex;
  justify-content: space-between;
}
.page-four__middle__div-women {
  max-width: 355px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}
.page-four__middle__div-women__img {
  padding-top: 97px;
  max-height: 96px;
  padding-bottom: 30px;
}
.page-four__middle__div-women__h2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
  max-width: 360px;
  margin-bottom: 126px;
}
.page-four__middle__div-form {
  display: flex;
  flex-direction: column;
  padding-top: 135px;
}
.page-four__middle__div-form__form-div {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.page-four__middle__div-form__form-div__form__input {
  border-radius: 1.5rem 0 0 1.5rem;
  padding: 15px 64px 15px 22px;
  background: #e1e1e1;
  outline: none;
}
.page-four__middle__div-form__form-div__button {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background-color: #EF5B70;
  padding: 14px;
  border-radius: 0 1.5rem 1.5rem 0;
}
.page-four__middle__div-form__h2-subscribe {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
}
.page-four__middle__div-form__h2-forOur {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 167%;
  text-align: center;
  color: #222224;
  padding-bottom: 32px;
}

.footer {
  background-color: #222224;
}
.footer__div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer__div__rights-div__h4 {
  padding-left: 15px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #fbfbfb;
  margin-top: 30px;
  margin-bottom: 30px;
}
.footer__div__aside-social {
  display: flex;
  flex-direction: row;
  gap: 7px;
}
.footer__div__aside-social__button__img-facebook {
  display: block;
  padding: 9px 12px;
  max-width: 32px;
  border-radius: 0;
  fill: black;
}
.footer__div__aside-social__button__img-facebook:hover {
  background: #f16d7f;
  fill: white;
}
.footer__div__aside-social__button__img-instagramm {
  display: block;
  padding: 9px 8px;
  max-width: 32px;
  border-radius: 0;
  fill: black;
}
.footer__div__aside-social__button__img-instagramm:hover {
  background: #f16d7f;
  fill: white;
}
.footer__div__aside-social__button__img-p {
  display: block;
  padding: 8.5px 10px;
  max-width: 32px;
  border-radius: 0;
  fill: black;
}
.footer__div__aside-social__button__img-p:hover {
  background: #f16d7f;
  fill: white;
}
.footer__div__aside-social__button__img-twitter {
  display: block;
  padding: 9.5px 7.8px;
  max-width: 32px;
  border-radius: 0;
  fill: black;
}
.footer__div__aside-social__button__img-twitter:hover {
  background: #f16d7f;
  fill: white;
}/*# sourceMappingURL=style.css.map */