@font-face {
	font-family: "Gilroy-Semibold";
	src: url(./fonts/Gilroy-Semibold.ttf);
}

@font-face {
	font-family: "Gilroy-Bold";
	src: url(./fonts/Gilroy-bold.ttf);
}

@font-face {
	font-family: "Gilroy-Medium";
	src: url(./fonts/Gilroy-Medium.ttf);
}

* {
	border: 0;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body {
	scroll-behavior: smooth;
}

header {
	margin-left: 373px;
	margin-right: 373px;
}

main {
	margin-left: 373px;
	margin-right: 373px;
}

img {
	display: block;
	max-width: 100%;
}

.nav_head {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	margin-top: 40px;
	margin-bottom: 84px;
	justify-content: space-between;
}

.home_about {
	display: flex;
	gap: 14px;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	align-content: center;
	flex-direction: row;
}

.a_home_about {
	margin: 10px;
	font-family: "Gilroy-Semibold";
	font-size: 14px;
	line-height: 16.41px;
	text-align: left;
	color: #000000;
}

.mainSeoStartWatch {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	gap: 73px;
}

.SeoStartWatch {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
}

.h1_Seo {
	font-family: "Gilroy-Bold";
	font-size: 60px;
	line-height: 70.31px;
	text-align: left;
	margin-bottom: 20px;
}

.h2_provide {
	font-family: "Gilroy-Semibold";
	font-size: 20px;
	line-height: 23.44px;
	text-align: left;
	color: #888888;
}

.StartAndWatch {
	margin-top: 32px;
	display: flex;
	flex-direction: row;
	gap: 48px;
	align-items: center;
	justify-content: flex-start;
}

.Start_Now {
	font-weight: bold;
	border-radius: 50px;
	padding-top: 15px;
	padding-right: 36px;
	padding-bottom: 16px;
	padding-left: 35px;
	background: #f25822;
	color: #ffffff;
	font-family: "Gilroy-Bold";
	display: flex;
	align-items: center;
	font-size: 15px;
	line-height: 17.58px;
	text-align: left;
}

.Watch_Video {
	font-weight: bold;
	background: none;
	font-family: "Gilroy-Bold";
	text-decoration: none;
	text-align: left;
	font-size: 15px;
	line-height: 17.58px;
	color: #aaaaaa;
}

footer {
	display: flex;
	justify-content: flex-start;
}

.div_footer {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	gap: 48px;
	margin-top: 53px;
	padding-top: 59px;
	padding-bottom: 49px;
	flex-wrap: nowrap;
	margin-left: 373px;
	margin-right: 373px;
}
